<!DOCTYPE html>
<html>
<head>
    <title>SVTdF Ops</title>
    <style>
        body {
            background-color: #1F1F1F;
            color: #CCCCCC;
            font-family: sans-serif;
            font-size:larger;
        }
        a:link { color: #B4DCFE; }
        a:visited { color: #749DD5; }
    </style>
    <link rel="shortcut icon" href="../static/logo.png">
</head>
<body>
    <h1>SVTdF Operations!</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/raw-tables">Raw Tables View</a></li>
            <li><a href="/schedule">Schedule View</a></li>
        </ul>
    </nav>
</body>
</html>

