<!DOCTYPE html>
<html>
<head>
    <title>SVTdF Raw DB Tables</title>
    <style>
        body {
            background-color: #1F1F1F;
            color: #CCCCCC;
            font-family: sans-serif;
            font-size: larger;
        }
        a:link { color: #B4DCFE; }
        a:visited { color: #749DD5; }
        th,td {
            padding: 5px ;
        }
        tr {
            background-color: #2f2f2f;
        }
        tr:nth-child(even) {
            background-color: #373737;
        }
        .table_title {
            color: #B4DCFE;
        }
        .column_name {
            color: #749DD5;
        }
        .error_cell {
            background-color: #BD7878;
            color: black;
        }
        .button {
            border: none;
            background-color: #749DD5;
            color: black;
            padding: 0px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            font-family: monospace;
        }
        .text-input {
            font-family: monospace;
        }
    </style>
    <script>
        function logMessage(message) {
            document.getElementById('message_console').innerText += message 
            document.getElementById('message_console').innerHTML += "<br>"
        }
        function logTableError(which, message) {
            document.getElementById(which).innerText += message 
            document.getElementById(which).innerHTML += "<br>"
        }
        function getFieldValue(row, field_name) {
            return row.children.namedItem(field_name).innerText
        }
        function postAndReload(path, body) {
            fetch("http://localhost/" + path, {
                method: "POST",
                body: "" + body,
                headers: { "Content-type": "text/plain" }
            })
            .then((response) => response.json())
            .then((json) => {
                logMessage("POST response: '" + json + "'");
                location.reload(true);
            });
        }
        function moveInputField(cells, input_name, field_name, field_value) {
            const input_field = document.getElementById(input_name);
            input_field.value = field_value;
            const dest = cells.namedItem(field_name);
            dest.innerHTML = "";
            dest.appendChild(input_field);
        }
        function changeModifyButtonToCommitButton(row_name, modify_function) {
            const cells = document.getElementById(row_name).children;
            cells.namedItem("modify_button").children[0].onclick= modify_function;
            cells.namedItem("modify_button").children[0].innerText="Commit";
            return cells;
        }
        function startModifyDeviceTable(mac_address, device_id) {
            const cells = changeModifyButtonToCommitButton("device_table_row_" + mac_address, addOrModifyDeviceTableRecord);
            moveInputField(cells, "dt_mac_address_input", "mac_address", mac_address);
            moveInputField(cells, "dt_device_id_input", "device_id", device_id);
        }
        function startModifyDriverTable(driver_id, driver_name, run_count) {
            const cells = changeModifyButtonToCommitButton("driver_table_row_" + driver_id, addOrModifyDriverTableRecord);
            moveInputField(cells, "drvt_driver_id_input", "driver_id", driver_id);
            moveInputField(cells, "drvt_driver_name_input", "driver_name", driver_name);
            moveInputField(cells, "drvt_run_count_input", "run_count", run_count);
        }
        function startModifyCarTable(car_id,car_description,car_owner) {
            const cells = changeModifyButtonToCommitButton("car_table_row_" + car_id, addOrModifyCarTableRecord);
            moveInputField(cells, "ct_car_id_input", "car_id", car_id);
            moveInputField(cells, "ct_car_description_input", "car_description", car_description);
            moveInputField(cells, "ct_car_owner_input", "car_owner", car_owner);
        }
        function startModifyDeviceAssigmentTable(device_id,car_id) {
            const cells = changeModifyButtonToCommitButton("device_assignment_table_row_" + device_id, addOrModifyDeviceAssignmentTableRecord);
            moveInputField(cells, "dat_device_id_input", "device_id", device_id);
            moveInputField(cells, "dat_car_id_input", "car_id", car_id);
        }
        function startModifyRunTable(result_id,heat,run,driver_id,car_id,device_id,gps_speed_timestamp,gps_top_speed,laser_speed_timestamp,laser_top_speed,top_speed,datafile_path) {
            const cells = changeModifyButtonToCommitButton("run_table_row_" + result_id, addOrModifyRunTableRecord);
            moveInputField(cells, "rt_result_id_input", "result_id", result_id);
            moveInputField(cells, "rt_heat_input", "heat", heat);
            moveInputField(cells, "rt_run_input", "run", run);
            moveInputField(cells, "rt_driver_id_input", "driver_id", driver_id);
            moveInputField(cells, "rt_car_id_input", "car_id", car_id);
            moveInputField(cells, "rt_device_id_input", "device_id", device_id);
            moveInputField(cells, "rt_gps_speed_timestamp_input", "gps_speed_timestamp", gps_speed_timestamp);
            moveInputField(cells, "rt_gps_top_speed_input", "gps_top_speed", gps_top_speed);
            moveInputField(cells, "rt_laser_speed_timestamp_input", "laser_speed_timestamp", laser_speed_timestamp);
            moveInputField(cells, "rt_laser_top_speed_input", "laser_top_speed", laser_top_speed);
            moveInputField(cells, "rt_top_speed_input", "top_speed", top_speed);
            moveInputField(cells, "rt_datafile_path_input", "datafile_path", datafile_path);
        }
        function removeRecordFromDeviceTable(mac_address) {
            postAndReload("remove_device_table_record", "" + mac_address);
        }
        function removeRecordFromDriverTable(driver_id) {
            postAndReload("remove_driver_table_record", "" + driver_id);
        }
        function removeRecordFromCarTable(car_id) {
            postAndReload("remove_car_table_record", "" + car_id);
        }
        function removeRecordFromDeviceAssignmentTable(device_id) {
            postAndReload("remove_device_assignment_table_record", "" + device_id);
        }
        function removeRecordFromRunTable(result_id) {
            postAndReload("remove_run_table_record", "" + result_id);
        }
        function addOrModifyDeviceTableRecord() {
            const mac_address = document.getElementById('dt_mac_address_input').value;
            const device_id = document.getElementById('dt_device_id_input').value;
            postAndReload("add_device_table_record","" + mac_address + "," + device_id);            
        }
        function addOrModifyDriverTableRecord() {
            const driver_id = document.getElementById('drvt_driver_id_input').value;
            const driver_name = document.getElementById('drvt_driver_name_input').value;
            const run_count = document.getElementById('drvt_run_count_input').value;
            postAndReload("add_driver_table_record", "" + driver_id + "," + driver_name + "," + run_count);
        }
        function addOrModifyCarTableRecord() {
            const car_id = document.getElementById('ct_car_id_input').value;
            const car_description = document.getElementById('ct_car_description_input').value;
            const car_owner = document.getElementById('ct_car_owner_input').value;
            postAndReload("add_car_table_record", "" + car_id + "," + car_description + "," + car_owner);
        }
        function addOrModifyDeviceAssignmentTableRecord() {
            const device_id = document.getElementById('dat_device_id_input').value;
            const car_id = document.getElementById('dat_car_id_input').value;
            postAndReload("add_device_assignment_table_record", "" + device_id + "," + car_id);
        }
        function addOrModifyRunTableRecord() {
            const result_id = document.getElementById("rt_result_id_input").value;
            const heat = document.getElementById("rt_heat_input").value;
            const run = document.getElementById("rt_run_input").value;
            const driver_id = document.getElementById("rt_driver_id_input").value;
            const car_id = document.getElementById("rt_car_id_input").value;
            const device_id = document.getElementById("rt_device_id_input").value;
            const gps_speed_timestamp = document.getElementById("rt_gps_speed_timestamp_input").value;
            const gps_top_speed = document.getElementById("rt_gps_top_speed_input").value;
            const laser_speed_timestamp = document.getElementById("rt_laser_speed_timestamp_input").value;
            const laser_top_speed = document.getElementById("rt_laser_top_speed_input").value;
            const top_speed = document.getElementById("rt_top_speed_input").value;
            const datafile_path = document.getElementById("rt_datafile_path_input").value;

            postAndReload("add_run_table_record",
                "" +
                result_id + "," +
                heat + "," +
                run + "," +
                driver_id + "," +
                car_id + "," +
                device_id + "," +
                gps_speed_timestamp + "," +
                gps_top_speed + "," +
                laser_speed_timestamp + "," +
                laser_top_speed + "," +
                top_speed + "," +
                datafile_path);
        }
        // returns a Map mapping from field values to an Array of rows with that value
        function collectValues(rows, field_name) {
            var map = new Map();
            for (let i = 0; i < rows.length; i++) {
                const value = getFieldValue(rows[i], field_name).toLowerCase();
                const existingArray = map.get(value);
                if (existingArray === undefined) {
                    map.set(value, [ i ]);
                } else {
                    existingArray.push(i);
                }
            }
            return map;
        }
        function runValidationChecks() {
            const device_table_rows = document.getElementsByName('device_table_row');
            const driver_table_rows = document.getElementsByName('driver_table_row');
            const car_table_rows = document.getElementsByName('car_table_row');
            const device_assignment_table_rows = document.getElementsByName('device_assignment_table_row');
            const run_table_rows = document.getElementsByName('run_table_row');

            //
            // [run_table] Check that all device IDs exist in the device table
            //
            var device_map = collectValues(device_table_rows, 'device_id');
            var run_devices = collectValues(run_table_rows, 'device_id');
            run_devices.forEach((run_rows,run_device_id,m) => {
                if (device_map.get(run_device_id) === undefined) {
                    for (let i = 0; i < run_rows.length; i++) {
                        run_table_rows[run_rows[i]].children.namedItem('device_id').classList.add('error_cell');
                        logTableError('run_table_errors',"ERROR_1: device_id [" + run_device_id + "] was found in {run_table}, but not in {device_table}")
                    }
                }
            });
            //
            // [run_table] Check that all device IDs exist in the device assignment table
            //
            var dat_device_map = collectValues(device_assignment_table_rows, 'device_id');
            run_devices.forEach((run_rows,run_device_id,m) => {
                if (dat_device_map.get(run_device_id) === undefined) {
                    for (let i = 0; i < run_rows.length; i++) {
                        run_table_rows[run_rows[i]].children.namedItem('device_id').classList.add('error_cell');
                        logTableError('run_table_errors',"ERROR_2: device_id [" + run_device_id + "] was found in {run_table}, but not in {device_assignment_table}")
                    }
                }
            });
            //
            // [run_table] Check that all driver IDs exist in the driver table
            //
            var driver_map = collectValues(driver_table_rows, 'driver_id');
            var run_drivers = collectValues(run_table_rows, 'driver_id');
            run_drivers.forEach((driver_rows,run_driver,_m) => {
                if (driver_map.get(run_driver) === undefined) {
                    for (let i = 0; i < driver_rows.length; i++) {
                        run_table_rows[driver_rows[i]].children.namedItem('driver_id').classList.add('error_cell');
                        logTableError('run_table_errors',"ERROR_3: driver_id [" + run_driver + "] was found in {run_table}, but not in {driver_table}");
                    }
                }
            });
            //
            // [run_table] Check that all car IDs exist in the car table
            //
            var car_map = collectValues(car_table_rows, 'car_id');
            var run_cars = collectValues(run_table_rows, 'car_id');
            run_cars.forEach((car_rows,run_car,m) => {
                if (car_map.get(run_car) === undefined) {
                    for (let i = 0; i < car_rows.length; i++) {
                        run_table_rows[car_rows[i]].children.namedItem('car_id').classList.add('error_cell');
                        logTableError('run_table_errors',"ERROR_4: car_id [" + run_car + "] was found in {run_table}, but not in {car_table}");
                    }
                }
            });
            //
            // [device_assignment_table] Check that all car IDs exist in car table
            //
            var dat_cars = collectValues(device_assignment_table_rows, 'car_id')
            dat_cars.forEach((dat_rows,dat_car,m) => {
                if (dat_car !== "None") {
                    if (car_map.get(dat_car) === undefined) {
                        for (let i = 0; i < dat_rows.length; i++) {
                            device_assignment_table_rows[dat_rows[i]].children.namedItem('car_id').classList.add('error_cell');
                            logTableError('device_assignment_table_errors',"ERROR_5: car_id [" + dat_car + "] was found in {device_assignment_table}, but not in {car_table}");
                        }
                    }
                }
            });
            //
            // [device_assignment_table] Check that all device IDs exist in device table
            //
            var dat_devices = collectValues(device_assignment_table_rows, 'device_id')
            dat_devices.forEach((dat_rows,dat_device,m) => {
                if (device_map.get(dat_device) === undefined) {
                    for (let i = 0; i < dat_rows.length; i++) {
                        device_assignment_table_rows[dat_rows[i]].children.namedItem('device_id').classList.add('error_cell');
                        logTableError('device_assignment_table_errors',"ERROR_6: device_id [" + dat_device + "] was found in {device_assignment_table}, but not in {device_table}");
                    }
                }
            });
            //
            // [driver_table] Check that each driver has the correct number of runs in the run table
            //
            var run_drivers = collectValues(run_table_rows, 'driver_id');
            run_drivers.forEach((run_rows,driver,m) => {
                const driver_index = driver-1;
                if (driver_index < driver_table_rows.length) {
                    const run_count = driver_table_rows[driver_index].children.namedItem('run_count').innerText;
                    if (run_count != run_rows.length) {
                        driver_table_rows[driver_index].children.namedItem('run_count').classList.add('error_cell');
                        logTableError('driver_table_errors',"ERROR_7: driver [" + driver + "] has a run_count of [" + run_count + "] in {driver_table}, but found [" + run_rows.length + "] entries in {run_table}");
                    }
                }
            });
            //
            // [device_table] Check that all device IDs exist in the device assignment table
            //
            //var dat_device_map = collectValues(device_assignment_table_rows, 'device_id');
            var dt_devices = collectValues(device_table_rows, 'device_id');
            dt_devices.forEach((dt_rows,dt_device_id,m) => {
                if (dat_device_map.get(dt_device_id) === undefined) {
                    for (let i = 0; i < dt_rows.length; i++) {
                        device_table_rows[dt_rows[i]].children.namedItem('device_id').classList.add('error_cell');
                        logTableError('device_table_errors', "ERROR_8: device_id [" + dt_device_id + "] was found in {device_table}, but not in {device_assignment_table}")
                    }
                }
            });
            //
            // [device_table] Check that there are no duplicate device IDs
            //
            dt_devices.forEach((dt_rows,dt_device_id,m) => {
                if (dt_rows.length > 1)
                {
                    for (let i = 0; i < dt_rows.length; i++) {
                        device_table_rows[dt_rows[i]].children.namedItem('device_id').classList.add('error_cell');
                    }
                    logTableError('device_table_errors', "ERROR_9: device_id [" + dt_device_id + "] was found more than once in {device_table}")
                }
            });
            //
            // [car_table] Check that all car IDs exist in the run table
            //
            var ct_cars = collectValues(car_table_rows, 'car_id');
            ct_cars.forEach((ct_rows,ct_car_id,m) => {
                if (run_cars.get(ct_car_id) === undefined) {
                    for (let i = 0; i < ct_rows.length; i++) {
                        car_table_rows[ct_rows[i]].children.namedItem('car_id').classList.add('error_cell');
                        logTableError('car_table_errors', "ERROR_10: car_id [" + ct_car_id + "] was found in {car_table}, but not in {run_table}");
                    }
                }
            });
            //
            // [driver_table] Check that all driver IDs exist in the run table
            //
            var drvt_drivers = collectValues(driver_table_rows, 'driver_id');
            drvt_drivers.forEach((drvt_rows,drvt_driver_id,m) => {
                if (run_drivers.get(drvt_driver_id) === undefined) {
                    for (let i = 0; i < drvt_rows.length; i++) {
                        driver_table_rows[drvt_rows[i]].children.namedItem('driver_id').classList.add('error_cell');
                        logTableError('driver_table_errors', "ERROR_11: driver_id [" + drvt_driver_id + "] was found in {driver_table}, but not in {run_table}");
                    }
                }
            });
            //
            // [driver_table] Check that there are no duplicate names
            //
            var drvt_driver_names = collectValues(driver_table_rows, 'driver_name');
            drvt_driver_names.forEach((drvt_rows,drvt_driver_name,m) => {
                if (drvt_rows.length > 1)
                {
                    for (let i = 0; i < drvt_rows.length; i++) {
                        driver_table_rows[drvt_rows[i]].children.namedItem('driver_name').classList.add('error_cell');
                    }
                    logTableError('driver_table_errors', "ERROR_12: driver_name [" + drvt_driver_name + "] was found more than once in {driver_table}")
                }
            });
        }
    </script>
    <link rel="shortcut icon" href="../static/logo.png">
</head>
<body onload="runValidationChecks()">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/raw-tables">Raw Tables View</a></li>
        <li><a href="/schedule">Schedule View</a></li>
    </ul>
    <h1>SVTdF Raw DB Tables</h1>
<!-------------------------------------------------------->
    <h3 class="table_title">device_table</h3>
    <table style="font-family:monospace">
        <tr class="column_name">
            <td>mac_address</td>
            <td>device_id</td>
            <td>add/modify</td>
            <td>remove</td>
        </tr>
    {% for item in devices %}
        <tr name="device_table_row" id="device_table_row_{{item.mac_address}}">
            <td name="mac_address">{{ item.mac_address }}</td>
            <td name="device_id" style="text-align: right;">{{ item.device_id }}</td>
            <td name="modify_button"><button class="button" type="button" onclick="startModifyDeviceTable('{{item.mac_address}}','{{item.device_id}}')">Modify</button></td>
            <td><button class="button" type="button" onclick="removeRecordFromDeviceTable('{{item.mac_address}}')">Remove</button></td>
        </tr>
    {% endfor %}
        <tr>
            <td><input id="dt_mac_address_input" class="text-input" type="text" size="20"></td>
            <td><input id="dt_device_id_input" class="text-input" type="text" size="5"></td>
            <td><button class="button" type="button" onclick="addOrModifyDeviceTableRecord()">Add</button></td>
        </tr>
    </table>
    <div id="device_table_errors" style="font-family:monospace"></div>
    <!-------------------------------------------------------->
    <h3 class="table_title">driver_table</h3>
    <table style="font-family:monospace">
        <tr class="column_name">
            <td>driver_id</td>
            <td>driver_name</td>
            <td>run_count</td>
            <td>add/modify</td>
            <td>remove</td>
        </tr>
        {% for item in drivers %}
        <tr name="driver_table_row" id="driver_table_row_{{item.driver_id}}">
            <td name="driver_id">{{ item.driver_id }}</td>
            <td name="driver_name">{{ item.driver_name }}</td>
            <td name="run_count">{{ item.run_count }}</td>
            <td name="modify_button"><button class="button" type="button" onclick="startModifyDriverTable('{{item.driver_id}}','{{item.driver_name}}','{{item.run_count}}')">Modify</button></td>
            <td><button class="button" type="button" onclick="removeRecordFromDriverTable('{{item.driver_id}}')">Remove</button></td>
        </tr>
        {% endfor %}
        <tr>
            <td><input class="text-input" type="text" id="drvt_driver_id_input" size="3"></td>
            <td><input class="text-input" type="text" id="drvt_driver_name_input" size="30"></td>
            <td><input class="text-input" type="text" id="drvt_run_count_input" size="3"></td>
            <td><button class="button" type="button" onclick="addOrModifyDriverTableRecord()">Add</button></td>
        </tr>
    </table>
    <div id="driver_table_errors" style="font-family:monospace"></div>
<!-------------------------------------------------------->
    <h3 class="table_title">car_table</h3>
    <table style="font-family:monospace">
        <tr class="column_name">
            <td>car_id</td>
            <td>car_description</td>
            <td>car_owner</td>
            <td>add/modify</td>
            <td>remove</td>
        </tr>
        {% for item in cars %}
        <tr name="car_table_row" id="car_table_row_{{item.car_id}}">
            <td name="car_id">{{ item.car_id }}</td>
            <td name="car_description">{{ item.car_description }}</td>
            <td name="car_owner">{{ item.car_owner }}</td>
            <td name="modify_button"><button class="button" type="button" onclick="startModifyCarTable('{{item.car_id}}','{{item.car_description}}','{{item.car_owner}}')">Modify</button></td>
            <td><button class="button" type="button" onclick="removeRecordFromCarTable('{{item.car_id}}')">Remove</button></td>
        </tr>
        {% endfor %}
        <tr>
            <td><input class="text-input" type="text" id="ct_car_id_input" size="3"></td>
            <td><input class="text-input" type="text" id="ct_car_description_input" size="30"></td>
            <td><input class="text-input" type="text" id="ct_car_owner_input" size="30"></td>
            <td><button class="button" type="button" onclick="addOrModifyCarTableRecord()">Add</button></td>
        </tr>
    </table>
    <div id="car_table_errors" style="font-family:monospace"></div>
<!-------------------------------------------------------->
<h3 class="table_title">device_assignment_table</h3>
<table style="font-family:monospace">
    <tr class="column_name">
        <td>device_id</td>
        <td>car_id</td>
        <td>add/modify</td>
        <td>remove</td>
    </tr>
        {% for item in device_assignments %}
        <tr name="device_assignment_table_row" id="device_assignment_table_row_{{item.device_id}}">
            <td name="device_id">{{ item.device_id }}</td>
            <td name="car_id">{{ item.car_id }}</td>
            <td name="modify_button"><button class="button" type="button" onclick="startModifyDeviceAssigmentTable('{{item.device_id}}','{{item.car_id}}')">Modify</button></td>
            <td><button class="button" type="button" onclick="removeRecordFromDeviceAssignmentTable('{{item.device_id}}')">Remove</button></td>
    </tr>
    {% endfor %}
    <tr>
        <td><input class="text-input" type="text" id="dat_device_id_input" size="3"></td>
        <td><input class="text-input" type="text" id="dat_car_id_input" size="3"></td>
        <td><button class="button" type="button" onclick="addOrModifyDeviceAssignmentTableRecord()">Add</button></td>
    </tr>
</table>
<div id="device_assignment_table_errors" style="font-family:monospace"></div>
<!-------------------------------------------------------->
<h3 class="table_title">run_table</h3>
<table style="font-family:monospace">
    <tr class="column_name">
        <td>result_id</td>
        <td>heat</td>
        <td>run</td>
        <td>driver_id</td>
        <td>car_id</td>
        <td>device_id</td>
        <td>gps_speed_ts</td>
        <td>gps_top_speed</td>
        <td>laser_speed_ts</td>
        <td>laser_top_speed</td>
        <td>top_speed</td>
        <td>datafile_path</td>
        <td>add/modify</td>
        <td>remove</td>
</tr>
    {% for item in runs %}
    <tr name="run_table_row" id="run_table_row_{{item.result_id}}">
        <td name="result_id">{{ item.result_id }}</td>
        <td name="heat">{{ item.heat }}</td>
        <td name="run">{{ item.run }}</td>
        <td name="driver_id">{{ item.driver_id }}</td>
        <td name="car_id">{{ item.car_id }}</td>
        <td name="device_id">{{ item.device_id }}</td>
        <td name="gps_speed_timestamp">{{ item.gps_speed_timestamp }}</td>
        <td name="gps_top_speed">{{ item.gps_top_speed }}</td>
        <td name="laser_speed_timestamp">{{ item.laser_speed_timestamp }}</td>
        <td name="laser_top_speed">{{ item.laser_top_speed }}</td>
        <td style="color:darkorange" name="top_speed">{{ item.top_speed }}</td>
        <td name="datafile_path">{{ item.datafile_path }}</td>
        <td name="modify_button"><button class="button" type="button" onclick="startModifyRunTable(
            '{{item.result_id}}','{{item.heat}}','{{item.run}}','{{item.driver_id}}','{{item.car_id}}','{{item.device_id}}',
            '{{item.gps_speed_timestamp}}','{{item.gps_top_speed}}','{{item.laser_speed_timestamp}}','{{item.laser_top_speed}}',
            '{{item.top_speed}}','{{item.datafile_path}}'
        )
        ">Modify</button></td>
        <td><button class="button" type="button" onclick="removeRecordFromRunTable('{{item.result_id}}')">Remove</button></td>
    </tr>
    {% endfor %}
    <tr>
        <td><input class="text-input" type="text" id="rt_result_id_input" size="3"></td>
        <td><input class="text-input" type="text" id="rt_heat_input" size="3"></td>
        <td><input class="text-input" type="text" id="rt_run_input" size="3"></td>
        <td><input class="text-input" type="text" id="rt_driver_id_input" size="3"></td>
        <td><input class="text-input" type="text" id="rt_car_id_input" size="3"></td>
        <td><input class="text-input" type="text" id="rt_device_id_input" size="3"></td>
        <td><input class="text-input" type="text" id="rt_gps_speed_timestamp_input" size="10"></td>
        <td><input class="text-input" type="text" id="rt_gps_top_speed_input" size="10"></td>
        <td><input class="text-input" type="text" id="rt_laser_speed_timestamp_input" size="10"></td>
        <td><input class="text-input" type="text" id="rt_laser_top_speed_input" size="10"></td>
        <td><input class="text-input" type="text" id="rt_top_speed_input" size="10"></td>
        <td><input class="text-input" type="text" id="rt_datafile_path_input" size="40"></td>
        <td><button class="button" type="button" onclick="addOrModifyRunTableRecord()">Add</button></td>
    </tr>
</table>
<div id="run_table_errors" style="font-family:monospace"></div>
<!-------------------------------------------------------->
<div id="message_console" style="font-family:monospace"></div>

</body>
</html>

